<div class="container text-center" style="color: #ffffff;">

    <div class="row">

        <div class="col-12 nopad" style="margin-top:10%">

            <div style="text-align:center">

                <img class="invert" src="assets/img/contactanos.png" alt="" style="width:150px;height:auto;text-align:center">

            </div>

        </div>



        <div class="col-12 text-center nopad" style="margin-top:30px">

            <div class=" nopad box box-caja col-10 offset-1" style="margin-top: 10px;margin-bottom:0px">

                <a href="perfil.html">

                    <div class="" style="padding: 15px; margin-bottom: 0px">

                        <img style="max-height:20px;display:inline-block;position:absolute;left:20px;top:20px" src="assets/img/perfil.png" alt="">
                        <span style="color:white;font-size:20px"> Recomendar </span>
                        <img style="max-height:20px;display:inline-block;position:absolute;right:20px;top:20px" src="assets/img/right.png" alt="">

                    </div>

                </a>

            </div>

        </div>

        <div class="col-12 text-center nopad" style="margin-top:10px">

            <div class=" nopad box box-caja col-10 offset-1" style="margin-top: 10px;margin-bottom:0px">

                <a href="perfil.html">

                    <div class="" style="padding: 15px; margin-bottom: 0px">

                        <img style="max-height:20px;display:inline-block;position:absolute;left:20px;top:20px" src="assets/img/perfil.png" alt="">
                        <span style="color:white;font-size:20px"> Buzón de Sugerencias </span>
                        <img style="max-height:20px;display:inline-block;position:absolute;right:20px;top:20px" src="assets/img/right.png" alt="">

                    </div>

                </a>

            </div>

        </div>


    </div>
</div>