<header style="height:15%">
    <div [ngClass]="clases" style="height: 100%; color: #fff; display: flex; align-items: center;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 col-md-2">
                    <a href="#">
                        <img src="assets/img/inicio.png" alt="Menu" style="width:25px;">
                    </a>
                </div>
                <div class="col-5 col-md-8 text-center">
                    <h4>{{titulo}}</h4>
                </div>
                <div class="col-4 col-md-2 text-right">
                    <a href="#" style="margin-right: 0.5rem;">
                        <img src="assets/img/buscar.png" alt="Buscar" style="width:25px;">
                    </a>
                    <a href="#" style="margin-right: 0rem;">
                        <img src="assets/img/salir.png" alt="Cerrar" style="width:25px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>