<div class="container text-center" style="color: #ffffff;">

    <div class="row">

        <div class="col-12 nopad">

            <div style="text-align:center">

                <img src="assets/img/fresas.jpg" alt="" style="width:100%;height:auto;text-align:center">

            </div>

        </div>


        <div class="col-12 text-center nopad" style="margin-top:30px">




            <div class=" nopad box box-caja" style="margin-top: 10px;margin-bottom:0px">

                <!-- <a [routerLink]="['/perfil']" > -->
                <a>

                    <div class="cuenta-elegida" style="padding: 15px; margin-bottom: 0px">

                        <img style="max-height:20px;display:inline-block;position:absolute;left:20px;top:20px" src="assets/img/perfil.png" alt="">
                        <span style="color:white;font-size:20px"> Perfil </span>
                        <img style="max-height:20px;display:inline-block;position:absolute;right:20px;top:20px" src="assets/img/right.png" alt="">

                    </div>

                </a>

            </div>

            <div class="nopad box2 box-caja" style="margin-bottom:0px">

                <a [routerLink]="['/EligeRita']">

                    <div class="cuenta-elegida" style="padding: 15px; margin-bottom: 0px">

                        <img style="max-height:20px;display:inline-block;position:absolute;left:20px;top:20px" src="assets/img/pedido.png" alt="">
                        <span style="color:white;font-size:20px"> Pedido </span>
                        <img style="max-height:20px;display:inline-block;position:absolute;right:20px;top:20px" src="assets/img/right.png" alt="">

                    </div>

                </a>

            </div>

            <div class="nopad box box-caja" style="margin-bottom:0px">

                <a [routerLink]="['/recoger']">

                    <div class="cuenta-elegida" style="padding: 15px; margin-bottom: 0px">

                        <img style="max-height:20px;display:inline-block;position:absolute;left:20px;top:20px" src="assets/img/recoger.png" alt="">
                        <span style="color:white;font-size:20px"> Recoger </span>
                        <img style="max-height:20px;display:inline-block;position:absolute;right:20px;top:20px" src="assets/img/right.png" alt="">

                    </div>

                </a>

            </div>

            <div class="nopad box2 box-caja" style="margin-bottom:0px">

                <a [routerLink]="['/contactanos/inicio']">

                    <div class="cuenta-elegida" style="padding: 15px; margin-bottom: 0px">

                        <img style="max-height:20px;display:inline-block;position:absolute;left:20px;top:20px" src="assets/img/contactanos.png" alt="">
                        <span style="color:white;font-size:20px"> Contáctanos </span>
                        <img style="max-height:20px;display:inline-block;position:absolute;right:20px;top:20px" src="assets/img/right.png" alt="">

                    </div>

                </a>

            </div>

            <div class="nopad box box-caja" style="margin-bottom:0px">

                <!-- <a [routerLink]="['/pagar']" > -->
                <a>

                    <div class="cuenta-elegida" style="padding: 15px; margin-bottom: 0px">

                        <img style="max-height:20px;display:inline-block;position:absolute;left:20px;top:20px" src="assets/img/pagar.png" alt="">
                        <span style="color:white;font-size:20px"> Pagar </span>
                        <img style="max-height:20px;display:inline-block;position:absolute;right:20px;top:20px" src="assets/img/right.png" alt="">

                    </div>

                </a>

            </div>





        </div>


    </div>

</div>